<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= @user.name %>
      </h1>
      <h2>
       Actual cash: <%= @wallet.actual_cash %> points
      </h2>
      <h2>
       Initial cash: <%= @wallet.initial_cash %> points
      </h2>
    </section>
  </aside>
</div>